*{
    margin: 0;
    padding: 0;
}

.all{
    position: relative;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}
.main{
    width: 70%;
    height: 1000px;
}
.icons{
    display: flex;
    justify-content: space-between;
}

.righticons{
    display: flex;
}


.lefticons{
    display: flex;
}

.icons img{
    padding: 5px;
}

.searchbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    
    font-size: 50px;
    
}

.searchbox img{
    padding-top: 10px;

}
.searchmain{
     width: 700px;
    height: 50px;border: 2px hsl(146.63deg 97.03% 39.61%) solid ;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.searchbox input{
   border: none;
   width: 600px;
}

.goicons{
    display: flex;
    justify-content: center;
}

.icon{
    width: 50px;
    height: 50px;
    border: 3px black solid;
    border-radius: 30px;
    margin: 10px;
}

.mainbox{
    margin-top: 30px;
    display: flex;
}
.various{
    width: 65%;
}

.informationbox{
    width: 30%;
    padding-left: 10px;
}

.mainAd img{
     width: 100%;
     border-radius: 10px;
}

.news{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 10px;
}

.loginbox{
    width: 100%;
    height: 200px;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 10px;
}

.ADbox{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 10px;
}

.weatherbox{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 10px;
}

.newstext{
    margin-left: 30px;
    margin-top: 20px;
    color: gray;
}

.newsfooter{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.loginbox{
    text-align: center;
}
.loginbox b{
    padding-top: 15px;
    font-size: 15px;
}

.here{
    width: 100%;
    height: 270px;
    display: flex;
}

.ln{
    width: 50%;
}

.rn{
    width: 50%;
}

.here img{
    width: 180px;
    margin-left: 10px;
    border-radius: 10px;
}

.more{
    margin-top: 15px;
    display: flex;
}

.newsintext{
    margin-left: 5px;
}

.newstitle{
    display: flex;
    justify-content: space-around;
}

.newstitle h4{
    margin-right: 20px;
    margin-top: 3px;
}

.newsicon{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
}

.newstitle button{
    background-color: white;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 30px;
    width: 60px;
    color: rgb(0, 153, 255);
}
.newstitle button:hover{
    background-color: rgba(0, 179, 255, 0.243);
}



.newstitle span{
    font-size: 20px;
}